<div id="<%= dom_id categorygroup %>">
  <p>
    <strong>Name:</strong>
    <%= categorygroup.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= categorygroup.icon %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= categorygroup.description %>
  </p>

</div>
