<% content_for :title, "New categorygroup" %>

<h1>New categorygroup</h1>

<%= render "form", categorygroup: @categorygroup %>

<br>

<div>
  <%= link_to "Back to categorygroups", categorygroups_path %>
</div>
